.page-container {
    background: linear-gradient(#FBE1D9 0%, #C4B0FF 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 50%;

    & h1 {
        margin-top: 15rem;
        font-family: cursive;
        font-size: 5.8rem;
    }

    & img {
        width: 40rem;
    }
}

.right-container{
    background-color: white;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    & h2 {
        font-size: 4.2rem;
    }

    & p {
        font-size: 2rem;
    }

    & label {
        font-size: 2rem;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.user-type {
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    min-width: 30rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    padding: 0.6em 1.2em;
    border: none;
    border-bottom: solid 2px black;
    resize: none;
}

option {
    color: black;
}

input::placeholder, select:invalid {
    color: #888888;
}

:focus-visible {
    outline: none;
}

button {
    min-width: 30rem;
    font-size: 16px;
    padding: 0.6em 1.2em;
    background-color: #CCCCCC;
    font-weight: 600;
    border: none;
}