.card-Container {
    width: 26rem;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 11px 0px var(--color-blue-700);
    flex-direction: column;
    display: flex;
    margin: 21.5rem 46rem;
    background-color: var(--color-grey-0);
    height: fit-content;
    padding: 1rem 1rem 1rem 1rem;
    color:var(--color-grey-900);
}
.card-Container:hover{
    background-color: var(--color-silver-700);
    color:var(--color-grey-0);
}
#Description {
    font-size: 12px;
    padding: 0rem 0rem 0.5rem 0rem;
}
img {
    max-width: 100%;
    border-radius: 1rem 1rem 1rem 1rem;
}
.text {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
#price {
    font-size: 2rem;
    font-weight: 600;
    padding: 0rem 0rem 1rem 12rem;
}
#sellerName {
    font-size: 1.5rem;
    padding: 0rem 0rem 1rem 0rem;
}
.hBox {
    padding: 1.2rem 0rem 0rem 0rem;
}
h5{
    display: inline-block;
}
#Itemname {
    font-size: 2rem;
    font-weight: 600;
}
