.card-collection {
    display: grid;
    grid-template-columns: repeat(3, 31rem);
    grid-column-gap: 4.3rem;
    grid-row-gap: 4.3rem;
    width: 112.6rem;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}